[local-baseos]
name=Local CentOS Stream 9 - BaseOS
baseurl=http://192.168.1.248/9-stream/x86_64/BaseOS/
gpgcheck=0
enabled=1

[local-appstream]
name=Local CentOS Stream 9 - AppStream
baseurl=http://192.168.1.248/9-stream/x86_64/AppStream/
gpgcheck=0
enabled=1

[local-crb]
name=Local CentOS Stream 9 - CRB
baseurl=http://192.168.1.248/9-stream/x86_64/CRB/
gpgcheck=0
enabled=1

[local-highavailability]
name=Local CentOS Stream 9 - High Availability
baseurl=http://192.168.1.248/9-stream/x86_64/HighAvailability/
gpgcheck=0
enabled=1

[local-nfv]
name=Local CentOS Stream 9 - NFV
baseurl=http://192.168.1.248/9-stream/x86_64/NFV/
gpgcheck=0
enabled=1

[local-resilientstorage]
name=Local CentOS Stream 9 - Resilient Storage
baseurl=http://192.168.1.248/9-stream/x86_64/ResilientStorage/
gpgcheck=0
enabled=1

[local-rt]
name=Local CentOS Stream 9 - RT
baseurl=http://192.168.1.248/9-stream/x86_64/RT/
gpgcheck=0
enabled=1

[local-epel]
name=Local EPEL 9
baseurl=http://192.168.1.248/9-stream/x86_64/epel/epel/
gpgcheck=0
enabled=1

[local-epel-cisco-openh264]
name=Local EPEL Cisco OpenH264
baseurl=http://192.168.1.248/9-stream/x86_64/epel/epel-cisco-openh264/
gpgcheck=0
enabled=1

[local-epel-next]
name=Local EPEL Next
baseurl=http://192.168.1.248/9-stream/x86_64/epel/epel-next/
gpgcheck=0
enabled=1

[local-nfv-openvswitch]
name=Local CentOS NFV OpenvSwitch
baseurl=http://192.168.1.248/9-stream/x86_64/cloud/centos-nfv-openvswitch/
gpgcheck=0
enabled=1

[local-rabbitmq-38]
name=Local CentOS RabbitMQ 38
baseurl=http://192.168.1.248/9-stream/x86_64/cloud/centos-rabbitmq-38/
gpgcheck=0
enabled=1

[local-ceph-reef]
name=Local CentOS Ceph Reef
baseurl=http://192.168.1.248/9-stream/x86_64/cloud/ceph-reef/
gpgcheck=0
enabled=1

[local-extras-common]
name=Local CentOS Extras Common
baseurl=http://192.168.1.248/9-stream/x86_64/cloud/extras-common/
gpgcheck=0
enabled=1

[local-openstack-epoxy]
name=Local OpenStack Epoxy
baseurl=http://192.168.1.248/9-stream/x86_64/cloud/openstack-epoxy/
gpgcheck=0
enabled=1
